@import 'aah-util-css/keys.less';
@import 'definitions.less';
@import 'aah-util-css/all-util-styles.less';

body {
  background-image: url("../images/tic-tac-toe.png");
  background-repeat: repeat;
  background-blend-mode: multiply;
}

html {
  min-height: 100%;
}
